.box {
    background-color: red;
    height: 400px;
    width: 1200px;
    margin: auto;
    position: relative;
    top: 180px;
    display: none;
}

span {
    background-color: #fff;
    background-color: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}